{% extends 'base.html' %}
{% block body %}
    <h2>{{the_title}}</h2>
    <form method="post" action="/exec_energia">
       <table>
           <p>Use this form to submit data
               to calculate the energy</p>
           <tr>
               <td>L:</td>
               <td><input type="number" name="L" /></td>
           </tr>
           <tr>
               <td>M:</td>
               <td><input type="number" name="M" /></td>
           </tr>
            <tr>
               <td>T:</td>
               <td><input type="number" name="T" /></td>
           </tr>
         </table>
        <p>When you're ready, click this button.</p>
        <p><input type="submit" name="btn_calc"
         value="Calculate the energy" /></p>
    </form>
{% endblock%}